<!DOCTYPE html>
<html>
  <head>
    <title>MonolithApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Monolith</title>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
